 @model Student
    
<h3 class="my-4">Student Details</h3>
<div class="row">
    <!-- Details -->
    <div class="col-8 card rounded shadow pt-3">
        <dl class="row">       
            <dt class="col-5">Name</dt>
            <dd class="col-7"></dd>

            <dt class="col-5">Course</dt>
            <dd class="col-7"></dd>
            
            <dt class="col-5">Age</dt>
            <dd class="col-7"></dd>
            
            <dt class="col-5">Email</dt>
            <dd class="col-7">/dd>

                <dt class="col-5">Classification</dt>
            <dd class="col-7"></dd>
        </dl>
    </div>
    <!-- Photo -->
    <div class="col-4">
        <img src="" class="img-fluid">
    </div>
</div>

<div class="mt-4">
    <!-- add navigation link to redirect to Index action -->
    
    <!-- add navigation link to Details action, passing the correct route id parameter --> 
   
    <!-- add navigation link to Delete action, passing the correct route id parameter --> 
   
</div>